.aboutUsbanner {

     &__container{
            display: flex;
            justify-content: center;
            margin-bottom: 50px;
            margin-left: 100px;
            margin-right: 100px;

      }
            

      &__img {
            width: 100%;
            border-radius: 25px;
            filter: brightness(70%);
            object-fit: cover;
      }
  
}