.aboutUsbanner {
      &__container{
            position: relative;
            display: flex;
            justify-content: center;
            border-radius: 25px;
            margin-top: 50px;
            max-width: 1240px;
            height: 223px;
            margin-left: auto;
            margin-right: auto;
            padding-top: 30px;
            margin-bottom: 30px;
            &::before {
                  content:"";
                  position: absolute;
                  top: 0; 
                  left: 0;
                  width: 100%; 
                  height: 100%;
                  background-image: url(../../images/bannerAboutUs.png);
                  background-position: center;
                  background-repeat: none;
                  background-size: cover;
                  filter: brightness(70%);
                  border-radius: 25px;
            }
      }   
}

////////////////////////////////Responsive//////////////////////////////

@media (max-width: 1300px) {
      .aboutUsbanner {
            &__img {
                  width: 0%;
                  height: 0%;
                  margin: 0;
            }
            &__container {
                  width: 92%;
                  height: 223px;
                  margin-right: auto;
                  margin-left: auto;
                  padding: 0px;
                  &::before{
                        background-image: url(../../images/bannerAboutUs.png);
                        background-position: center;
                        background-size: cover;
                        border-radius: 10px;  
                        width: 100%;
                        margin-left: auto;
                        margin-right: auto;
                        border-radius: 25px;
                  }
            }
      }
}

@media (max-width: 992px) {
      .aboutUsbanner {
            &__img {
                  width: 0%;
                  height: 0%;
                  margin: 0;
            }
            &__container {
                  width: 95%;
                  height: 223px;
                  margin-right: auto;
                  margin-left: auto;
                  margin-top: 0;
            }
      }
}

@media (max-width: 768px) {
      .aboutUsbanner {
            &__container {
                  width: 95%;
                  &::before{
                        background-image: url(../../images/bannerAboutUs.png);
                        border-radius: 25px; 
                        object-fit: cover;
                        background-size: cover;
                  }
            }
      } 
}

@media (max-width: 576px) {
      .aboutUsbanner {
            &__img {
                  width: 100%;
                  height: 223px;
                  border-radius: 10px;
            }
            &__container {
                  height: 223px;
                  width: 90%;
                        &::before{
                              content: " ";
                              background-image: url(../../images/aboutUsBannerMobile.png);
                              border-radius: 10px; 
                              object-fit: cover; 
                              background-size: cover;
                        }
            }
      }
}
