.banner {

      &__container {
            position:relative;  
            display: flex;
            height: 223px;
            margin-left: 100px;
            margin-right: 100px;
            margin-bottom: 20px;
            width: 90%;
      }
      &__img {
            width: 100%;
            border-radius: 25px;
            filter: brightness(70%);
            object-fit: cover;
      }
      &__text {
            position: absolute;
            top: 40%;
            bottom: 60%;
            left: 0;
            right: 0;
            
            font-style: normal;
            font-weight: 500;
            font-size: 48px;
            color: $color-secondary;
            text-align: center;
            justify-content: center;
      }
}
@media (max-width: 992px) {

}

@media (max-width: 768px) {
      
}

@media (max-width: 576px) {
      
}