.banner {
      &__container {
            position:relative;  
            display: flex;
            height: 223px;
            max-width: 1240px;
            margin: auto;
            padding-top: 30px;
            padding-bottom: 30px;
            border-radius: 25px;
      }
      &__img {
            width: 100%;
            border-radius: 25px;
            filter: brightness(70%);
            object-fit: cover;
      }
      &__text {
            position: absolute;
            top: 40%;
            bottom: 60%;
            left: 0;
            right: 0;
            font-style: normal;
            font-weight: 500;
            font-size: 48px;
            color: $color-secondary;
            text-align: center;
            justify-content: center;
      }
}

////////////////////////////////Responsive//////////////////////////////

@media (max-width: 1300px) {
      .banner {
            &__container {
                  margin-left:  50px;
                  margin-right: 50px;
                  margin-top: 0;
                  margin-bottom: 0;
                  
            }
            &__text {
                  font-size: 40px;
            }
      }
}

@media (max-width: 991px) {
      .banner {
            &__container {
                  width: 90%;
                  height: 200px;
                  margin-left:  auto;
                  margin-right: auto;
                  padding-top: 0;
                  padding-bottom: 0;
            }
            &__text {
                  font-size: 35px;
            }
      }
}

@media (max-width: 768px) {
      .banner {
            &__container {
                  height: 180px;
                  padding: 0;
            }
            &__text {
                  font-size: 30px;
            }
      } 
}

@media (max-width: 576px) {
      .banner {
            &__container {
                  margin-left: auto;
                  margin-right: auto;
                  height: 111px;
                  padding: 0 ;
            }
            &__img {
                  width: 100%;
                  border-radius: 10px;
            }
            &__text{
                  font-size: 25px;
                  padding-left: 20px;
                  padding-right: 20px;
                  top: 30%;
                  text-align: start;
            } 
      }
}