//////////////AboutUs page//////////////
.collapse {
      &__container{
            max-width: 1240px;
            height: 100%;
            margin-right: auto;
            margin-left: auto;
      }
      &__containerBtn {
            display: flex;
            justify-content: space-between;
            background-color: $color-primary;
            border-radius: 5px;
            color: #fff;
            padding-left: 15px;
            align-items: center;
            width: 80%;
            height: 47px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 30px;
            cursor: pointer;
      }
      &__title {
            font-size: 24px;
            background: $color-primary;
      }
      &__arrow {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 55px;
            height: 15px;
            cursor: pointer;
            padding: 0 16px;
      }
      &__content {
            background-color: $color-tertiary;
            color: $color-primary;
            border-radius: 0px 0px 5px 5px;
            font-size: 24px;
            font-weight: 400;
            line-height: 34px;
            width: 80%;
            margin-bottom: 60px;
            padding-top: 20px;
            padding-bottom: 15px;
            padding-right: 20px;
            padding-left: 20px;
            margin-top: -30px;
            margin-left: auto;
            margin-right: auto;
      }
}
.aboutUs__collapse {
      margin-top: 30px;
      margin-bottom: 200px;
}
//////////Lodging page/////////////////
.collapse__lodging{
      display: flex;
      justify-content: space-between;
      max-width: 1240px;
      margin-left: auto;
      margin-right: auto;
}
.collapse__lodgingBox {
      width: 45%;   
}
.collapse__lodging .collapse__containerBtn {
      width: 100%;
}
.collapse__lodging .collapse__content {
      width: 100%;
      min-height: 200px;
}


///////////////////////////////////////Responsive////////////////////////////////////
@media (max-width: 1300px) {
      .collapse__lodging{
            width: 90%;
      }
}

@media (max-width: 992px) {
      .aboutUs__collapse {
            margin-top: 30px;
            margin-bottom: 300px;
      }
      .collapse {
            &__containerBtn {
                  width: 80%;
                  margin-top: 40px;
                  margin-left: auto; 
                  margin-right: auto;
            }
            &__content {
                  width: 80%;
                  margin-left: auto; 
                  margin-right: auto;
            }
      }
      //////////Lodging page/////////////////
      .collapse__lodging{
            margin-bottom: 100px;
            width: 100%;
      }
      .collapse__lodgingBox {
            margin-right: auto;
            margin-left: auto; 
      }
      .collapse__lodging .collapse__containerBtn {
                  width: 100%;
            }
      .collapse__lodging .collapse__content {
            width: 100%;
      }
}

@media (max-width: 768px) {
      .aboutUs__collapse {
            margin-top: 30px;
            margin-bottom: 200px;
      }
      .collapse {
            &__containerBtn {
                  width: 80%;
                  margin-left: auto; 
                  margin-right: auto;   
            }
            &__title {
                  font-size: 18px;
            }
            &__content {
                  width: 80%;
                  margin-left: auto; 
                  margin-right: auto;
                  padding-top: 23px; 
                  font-size: 16px;
                  font-weight: 500;
                  line-height: 20px;
            }
      }
//////////Lodging page/////////////////
            .collapse__lodging{
                  margin-bottom: 100px;
            }
            .collapse__lodgingBox {
                  margin-right: auto;
                  margin-left: auto;
            }
            .collapse__lodging .collapse__containerBtn {
                  width: 100%;
            }
            .collapse__lodging .collapse__content {
                  width: 100%;
            }
}

@media (max-width: 576px) {
      .aboutUs__collapse {
            margin-top: 30px;
            margin-bottom: 200px;
      }
      .collapse {
            &__container {
                  align-items: center;
                  margin-top: 0;
            }
            &__containerBtn {
                  width: 90%;
                  height: 30px;
                  margin-top: 15px;
                  margin-bottom: 15px;
            }
            &__title {
                  font-size: 13px;
            }
            &__content {
                  width: 90%; 
                  font-size: 12px;
                  font-weight: 400;
                  line-height: 18px;
                  padding: 23px 10px 50px 10px;
                  margin-top: -15px;
                  margin-bottom: 10px;
            }
            &__arrow {
                  width: 47px;
                  height: 10px;
            }
      }
      //////////Lodging page/////////////////
      .collapse__lodging{
            flex-direction: column;
            margin-bottom: 100px;
            width: 100%;
      }
      .collapse__lodgingBox {
            width: 100%;  
            padding: 0;
            
      }
      .collapse__lodging .collapse__containerBtn {
            width: 90%;
            margin-top: 0;
      }
      .collapse__lodging .collapse__content {
            width: 90%;
      }
}