
.collapse__container{
      max-width: 1240px;
      height: 100%;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 40px;

}


.collapse {
   
      &__containerBtn {
           display: flex;
            justify-content: space-between;
            background-color: $color-primary;
            border-radius: 5px;
            color: #fff;
            padding: 10px;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            //margin-left: 200px;
            //margin-right: 200px;
            margin-bottom: 30px;
           
            }
      &__title {
            font-size: 20px;
            background: $color-primary;
      }
      &__arrow {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 55px;
            height: 15px;
            cursor: pointer;
            padding: 0 16px;
      }
      &__content {
            background-color: $color-tertiary;
            color: $color-primary;
            border-radius: 0px 0px 5px 5px;
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            width: 80%;
            margin-bottom: 60px;
            //height: 249px;
           // margin-left: 200px;
           // margin-right: 200px;
padding-top: 20px;
padding-bottom: 10px;
padding-left: 15px;
           // padding: 20px 20px;
            margin-top: -30px;
            margin-left: auto;
            margin-right: auto;
           
          
      }
     
}
.collapse__lodging {
      max-width: 1240px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 250px;
    display: flex;
    
    
   .collapse__container {
      width: 1240px;
      margin: 0;
      
   }
   .collapse__containerBtn{
     // max-width: 1240px;
      width: 98%;

      
      margin-left: auto;
      margin-right: auto;
      
   }

     .collapse__content{
           
      width: 98%;
      height: 249px;
      
        
            
      }
}
   
      .aboutUs__collapse{
            margin-bottom: 300px;
      }

    //  .collapse__containerBtn {
   //       width: 50%;
    //margin-left: 0;
    //      margin-right: 0; 
            
    //  }


@media (max-width: 992px) {
      .collapse {
            &__containerBtn {
                  width: 80%;
                  margin-top: 40px;
                  margin-left: auto; 
                  margin-right: auto;
            }
            &__content {
                  width: 80%;
                  margin-left: auto; 
                  margin-right: auto;
            }
      }
 
}


@media (max-width: 768px) {
      .aboutUs__collapse {
            margin-top: 100px;
            margin-bottom: 150px;
      }
      .collapse {
            &__containerBtn {
                  width: 80%;
                  margin-left: auto; 
                  margin-right: auto;
                   
                  
            }
            &__title {
                  font-size: 18px;
            }
            &__content {
                  width: 80%;
                  margin-left: auto; 
                  margin-right: auto;
                  padding-top: 23px; 
                  font-size: 16px;
                  font-weight: 500;
                  line-height: 20px;
            }
      }

}

@media (max-width: 576px) {
      .aboutUs__collapse {
            margin-top: 30px;
      }
      .collapse {
            &__container {
                  align-items: center; 
                
            }
            &__containerBtn {
                  width: 90%;
                  margin-left: 20px;
                  margin-left: 20px;  
            }
            &__title {
                  font-size: 13px;
            }
            &__content {
                  width: 90%;
                  margin-left: 20px;
                  margin-left: 20px;
                  padding-top: 23px; 
                  font-size: 12px;
                  font-weight: 400;
                  line-height: 17px;
            }
          
      }
      .collapse__lodging{
            //display: flex;
           // flex-direction: column;
            //width: 80%;
            margin: 0;
            padding: 0;
           // background-color: aqua;
            
           
      }
}
