.host {
  
&__box{
      display: flex;
      flex-direction: row;
      align-items: center;
      
}


&__name{
      color: $color-primary;
      font-size: 18px;
      font-weight: 500;
      padding-right: 10px;
}
      &__img{
            border-radius: 100%;  
            margin-right: 10px;
            height: 120px;
            width: 120px;
      }

}