.rate {
    &__container {
        margin-top: 25px;
        margin-right: 5px;
    }
}

////////////////////////////////Responsive//////////////////////////////

@media (max-width: 991px) {
    .rate { 
        &__container {
            margin-right: 20px;
        }
        &__star{
            width: 25px;
        }
    }
}

@media (max-width: 556px) {
    .rate{
        &__star{
            width: 15px;
            margin-left: auto;
        }
    }
}