.tags__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 30px;

      & li {
            background-color: $color-primary;
            color: $color-secondary;
            text-align: center;
            height: 25px;
            margin-right: 16px;
            font-size: 14px;
            font-weight: 500;
            padding: 3px 22px 2px 22px;
            border-radius: 10px;
            width: auto;
          }
}


///////////////////responsive///////////////@warn
@media (max-width: 1300px) {

}
@media (max-width: 991px) {

}
@media (max-width: 768px) {

}
@media (max-width: 556px)
{
.tags__list{
   margin-bottom: 10px;
      & li{
            font-size: 10px;
            height: 20px;
           
            border-radius: 5px;
            padding: 5px 22px 5px 22px;
      }
}
}