.lodging {
      max-width: 1240px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 50px;
      display: flex;
      justify-content: space-between;
      &__infosleft {
            -webkit-animation:bounce-in 1s ease 0s 2 normal;
            -moz-animation:bounce-in 1s ease 0s 1 normal;
            -ms-animation:bounce-in 1s ease 0s 1 normal;
            animation:bounce-in 1s ease 0s 1 normal;
                  
            color: $color-primary;
            h1{
                  font-weight: 500;
                  font-size: 30px;
                  line-height: normal;
            }
            p {
                  font-size: 18px;
                  padding-bottom: 10px;

            }
      }
      &__infosright {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            -webkit-animation:bounce-in 1s ease 0s 2 normal;
-moz-animation:bounce-in 1s ease 0s 1 normal;
-ms-animation:bounce-in 1s ease 0s 1 normal;
animation:bounce-in 1s ease 0s 1 normal;
      }
}
@media (max-width: 556px)
{
      .lodging {
            flex-direction: column;
           // align-items: center;
            justify-content: space-between;
           padding: 0 15px;
           margin: 0;
            &__infosright {
                //  display: flex;
                  flex-direction: row-reverse;
                  align-items: center;
                  justify-content: space-between;
                  
            }
            &__infosleft {
                  margin: 0;
            }
      }
      .lodging__infosleft h1{
            font-size: 18px;
            margin-top: 0;
      }
      .lodging__infosleft p {
            font-size: 14px;
      }
}