.footer {
      background-color: black;
      position: relative;
      &__text {
            position:absolute;
            left: 50%;
            right: 50%;
            
            color: white
      }

}