.header {
      &__item {  
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 60px 0;
      width: 100%;
      }
      &__logo{
            margin: 20px 0 20px 100px;  
      }
      &__nav{
            margin-right: 100px;
            color:  #FF6060;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
      }
      &__Accueil {
            color:  #FF6060;
            margin-right: 80px;
      }
      &__Apropos {   
            color:  #FF6060;
            margin-right: 10px;
      }
}