footer {
      background-color: black;
      height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
}
.footer {    
      &__container {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
      }   
      &__logo{
            margin-top: 25px;
            font-size: 24px;
      }
      &__text {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            color: $color-secondary;
            margin-top: 10px;
      }
}

////////////////////////////////Responsive//////////////////////////////

@media (max-width: 576px) {
      .footer { 
            &__logo{ 
                  width: 122px;
            }
            &__text{
                  font-size: 12px;
            }
      }
}

