.header {
      &__item {  
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: auto;
      max-width: 1240px;
      padding-top: 30px;
      }
      &__nav {
            & ul{
            display: flex;
            justify-content: space-around;
            align-items: center;
                  & > * {
                        display: flex;
                        justify-content: flex-end;
                        padding-left: 20px;
                        margin-left: 20px;
                        color: $color-primary;
                        font-size: 24px;
                        font-weight: 500;
                        text-decoration: none;
                  }
            a.link-active{
                  text-decoration: underline;
            } 

            }
      }
}

///////////////////////////////////RESPONSIVE////////////////////////////



@media (max-width: 1300px) {
      .header {
            &__item{ 
                  width: 90%;
            }
      }
}

@media (max-width: 991px) {
      .header {
            &__item{ 
                  width: 95%;
                  margin-bottom: 30px;
      }
            &__logo{
                  width: 160px;
            }
            &__nav{
                  font-size: 20px;
            }
      } 
}

@media (max-width: 768px) {
      .header {
            &__logo{
                  width: 160px;
            }
            &__nav{
                  font-size: 20px;
            }
            &__link {
                  margin-left: 20px;  
            }
      } 
}

@media (max-width: 576px) {
      .header {
            &__item {
                  width: 90%;
                  margin-bottom: 20px;
                  margin-right: auto;
                  margin-left: auto;
            }
            &__logo{
                  width: 100px;
                  margin: 0px; 
            }
            &__nav{
                  margin-right: 5px;
            }
      }
      li {
            font-size: 16px;
      }
}